@charset "UTF-8";

/*
Tudo que em HTML é id = em CSS #
em HTML é class = em CSS .
*/

body {
    background-color: rgb(206, 243, 206);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: darkgreen;
}

h1#principal { /* # identifica o id = ""*/
    text-align: center;
    color: white;
    background-color: darkgreen;
}

h2 {
    color: rgb(28, 133, 28);
}