@charset "UTF-8";

.sriracha-regular {
    font-family: "Sriracha", cursive;
    font-weight: 400;
    font-style: normal;
}

.passion-one-regular {
    font-family: "Passion One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.passion-one-bold {
    font-family: "Passion One", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.passion-one-black {
    font-family: "Passion One", sans-serif;
    font-weight: 900;
    font-style: normal;
}

body {
    border: 1px solid black;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.26);
}

p {
    font-family: "Sriracha", cursive;
}

div p {
    font-size: 1.5em;
}

header {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}

header h1{
    font-family:"Passion One", sans-serif;
    font-size: 3em;
}

header p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
}

header a {
    font-family: "Passion One", sans-serif;
    text-decoration: none;
    color: white;
}

header a:hover {
    font-family: "Passion One", sans-serif;
    text-decoration: underline;
    color: blue;
}

article{
    height: 400px;
}

article > div{
    padding: 10px;
    max-width: 350px;
    height: 300px;
    border: 1px solid black;
    margin: 30px;
}

article#imagemp2{
    background-image: url(imagens/background001.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

div p {
    line-height: 2em;
}