@charset "UTF-8";

.sriracha-regular {
    font-family: "Sriracha", cursive;
    font-weight: 400;
    font-style: normal;
}

.passion-one-regular {
    font-family: "Passion One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.passion-one-bold {
    font-family: "Passion One", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.passion-one-black {
    font-family: "Passion One", sans-serif;
    font-weight: 900;
    font-style: normal;
}

* {
    margin: 0px;
}

header {
    background-color: black;
    color: white;
}

header h1 {
    padding: 50px 0px 0px 0px;
    font-size: 3em;
    font-family:"Passion One", sans-serif; 
    text-align: center;
    text-shadow: 3px 3px solid black;
}

header p  {
    padding-bottom: 20px;
    margin: 0px;
    text-align: center;
}

header a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

header a:hover {
    text-decoration: underline;
    color: blue;
}

section.imagem1{
    position: relative;
    height: 500px;
    background-image: url(imagens/background001.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: 3px 3px -3px rgba(0, 0, 0, 0.288);
}

div.imagem1{
    position: absolute;
    top: 30px;
    left: 30px;
    background-color: rgba(0, 0, 0, 0.164);
    color: white;
    border: none;
}

section.imagem2{
    position: relative;
    height: 500px;
    background-image: url(imagens/background002.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.068)
}

div.imagem2{
    position: absolute;
    top: 30px;
    left: 30px;
    background-color: rgba(0, 0, 0, 0.308);
    color: white;
    border: none;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.068);
}


div {
    display: block;
    margin-left: 20px;
    border: 1px solid black;
    height: 300px;
    width: 400px;
    margin: 30px;
    padding: 10px;
}

div.nada{
    border: none;
}

p {
    text-align: justify;
    text-indent: 30px;
    font-family:"Sriracha", cursive;
    font-size: 1.4em;
    margin-top: 30px;
    line-height: 60px;
    text-shadow: 1px 1px solid black;
}