@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body{
    background: url(pacote-d013/imagens/fundo-madeira.jpg) no-repeat top center fixed;
    background-size: cover;
}

main {
    position: relative;
    height: 100vh;
}

section#telefone {
    position: absolute; /*Necessário para posicionar o bloco no centro da tela através dos comandos top e left*/
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); /*Necessário para deixar o ponto de referência sendo o centro do bloco ao invés de ser o canto superior esquerdo*/

    height: 627px;
    width: 311px;

    background-image:url(pacote-d013/imagens/frame-iphone.png);
    background-repeat: no-repeat;
}

iframe#tela{
    position: relative; /*Não sei porque relativo aqui*/
    top: 80px;
    left: 22px;
    width: 267px;
    height: 471px;
}

section#redes-sociais{
    text-align: right;
}

section#redes-sociais img{
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.400);
    box-sizing: border-box;   /*faz com que a borda seja interna a caixa e não externa, neste caso movimentando as demais*/
}

section#redes-sociais img:hover{
    border: 2px solid white;
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.603);
    transition: transform 0.3s;
}