@charset "UTF-8";

/*
Tudo que em HTML é id = em CSS #
em HTML é class = em CSS .
*/

body {
    background-color: #9cebaf;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #272c28;
}

h1#principal { /* # identifica o id = ""*/
    text-align: center;
    color: white;
    background-color: #0B6421;
}

h2 {
    color: #0F862D;
}

.basico { /* Identifica a class = "basico" */
    color: #0F862D;
    font-weight: bold;
}

h2.intermerdiario{/* Identifica a class = "intermediária", com origem no h2 */
    color: #74860f;
}

h2.avançado{
    color: #862b0f;
}

.destaque {
    background-color: rgba(180, 180, 0, 0.644);
}