@charset "utf-8"; /*Inserir TAG UTF-8 que habilita o uso de alguns acentos necessários na lingua portuguesa*/

body {
    background-color: lightgoldenrodyellow;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

h1{
    color: maroon;
    background-color: darkgoldenrod;
}

h2 {
    color: darkred;
}

p {
    text-align: justify;
}